[submodule "skew-aware-rocksdb-8.9.1"]
	path = skew-aware-rocksdb-8.9.1
	url = git@github.com:BU-DiSC/skew-aware-rocksdb-8.9.1.git
[submodule "skew-aware-bpk-benchmark"]
	path = skew-aware-bpk-benchmark
	url = git@github.com:BU-DiSC/skew-aware-bpk-benchmark.git
[submodule "distribute_lsm_bfsize"]
	path = distribute_lsm_bfsize
	url = git@github.com:altramarine/distribute_lsm_bfsize.git
[submodule "YCSB-cpp"]
	path = YCSB-cpp
	url = git@github.com:BU-DiSC/YCSB-cpp.git
[submodule "K-V-Workload-Generator"]
	path = K-V-Workload-Generator
	url = git@github.com:BU-DiSC/K-V-Workload-Generator.git
